<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name=viewport content='width=300'>
</head>
<div class="wrapper">
	<h1>TRETTIO DAGAR</h1>
	<div class="uppgifter">
		<h2>Skriv in dina uppgifter.</h2>
	</div>

	<div class="form">
		<%= form_for @contact do |f| %>
			<h3>Namn</h3>
			<%= f.text_field :namn, required: true %>
			<br>

			<h3>Ålder</h3>
			<%= f.text_field :alder, required: true %>

			<br>

			<h3>Telefonnummer</h3>
			<%= f.text_field :telefon, as: :text %>
			<br>

			<h3>Vem är du?</h3>
			<%= f.text_area :who_are_you, as: :text %>

			<br>
			<h3>Bor du i Stockholm?</h3>
			<%= radio_button_tag :stockholm, required: true %>

			<div class="hidden">
			<%= f.label :nickname %>
			<%= f.text_field :nickname, hint: 'leave this field blank' %>	
			</div>

			<%= f.submit 'Skicka', class: "send_email" %>
		<% end %>
	</div>
</div>
