<div class="wrapper">
	<h1>TRETTIO DAGAR</h1>
	<h2>Skriv in dina uppgifter.</h2>
	<h2>Om vi finner dig lämplig hör vi av oss.</h2>

	<div class="form">
		<%= form_for @contact do |f| %>
			<%= f.label :namn %> <br>
			<%= f.text_field :namn, required: true %>
			<br>

			<%= f.label "Ålder" %> <br>
			<%= f.email_field :alder, required: true %>

			<br>

			<%= f.label "Telefonnummer" %> <br>
			<%= f.text_area :telefon, as: :text %>
			<br>

			<%= f.label "Vem är du?" %> <br>
			<%= f.text_area :who_are_you, as: :text %>

			<div class="hidden">
			<%= f.label :nickname %> <br>
			<%= f.text_field :nickname, hint: 'leave this field blank' %>	
			</div>

			<%= f.submit 'Send Message', class: "button" %>
		<% end %>
	</div>
</div>